#root {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'VT323';
  src: url('/font/VT323-Regular.ttf') format('truetype');
}